.breachedContainerMessages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    text-decoration: underline;
    
    
    
}

h3 {
    font-weight: 500;
}

.checkYours{
    text-align: center;
    font-weight: 500;
  
}