html, body, #app, #app>div {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   gap: 2rem;
}

.middleBar {
    display: flex;
    align-items: center;
}

.navContainer {
    display: flex;
    text-align: center;
}



@media (max-width: 680px) {
    .container {
        
      align-items: normal;
    }
    .navContainer {
       text-align: center;
    }
  }